 * {
     padding: 0;
     margin: 0;
 }

 .hero {
     background-image: url(../img/tsiwrat/desktop/image-header.jpg);
     height: 100vh;
     background-size: cover;
     background-position: center;

 }

 .display {
     display: flex;
     justify-content: space-between;
     padding-top: 5vh;
     padding-left: 3vw;
     padding-right: 3vw;
 }

 .list {
     display: flex;
     gap: 2vw;
     align-items: center;
     font-weight: bold;
 }

 a {
     text-decoration: none;
 }

 .clr {
     color: white;
 }

 .but {
     padding: 1vh 2vw;
     border: none;
     border-radius: 20px;
 }

 .midd {
     position: relative;
     color: white;
     font-size: 25px;
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: vh;
     /* text-align: center; */
 }

 .mid2 {
     position: absolute;
     top: 25vh;
     left: 50%;
     transform: translate(-50%, -50%);
 }

 .mid {
     position: absolute;
     top: 45vh;
     left: 50%;
     transform: translate(-50%, -50%);
 }

 .sec {
     display: flex;
 }

 .right {
     width: 50%;

 }

 .left {
     width: 50%;
     display: flex;
     flex-direction: column;
     position: relative;

 }

 .inside-left {
     text-align: start;
     line-height: 1.5rem;
     width: 65%;
     display: flex;
     flex-direction: column;
     gap: 5vh;
     top: 35vh;
     left: 10vw;
     position: absolute;
     transform: translate();
     color: #001B3A;
     font-size: 18px;
 }

 .inside-left>a {
     color: #001B3A;
     width: fit-content;
     background: linear-gradient(rgba(255, 255, 0, 0.449), rgba(255, 255, 0, 0.455)) no-repeat;
     background-size: 150px 10px;
     background-position: center;
 }

 .im {
     width: 100%;
     height: 100%;
 }

 .im2 {}

 .th {
     display: flex;

 }

 .left2 {
     width: 50%;
     display: flex;
     flex-direction: column;
     position: relative;

 }

 .right2 {
     width: 50%;
     display: flex;
     position: relative;


 }

 .inside-right2 {
     text-align: start;
     display: flex;
     flex-direction: column;
     gap: 5vh;
     position: absolute;
     top: 35vh;
     left: 10vw;
     width: 65%;
     color: #001B3A;
     font-size: 18px;
 }
 .inside-right2 >a {
     color: #001B3A;
     width: fit-content;
     background: linear-gradient(rgba(255, 255, 0, 0.449), rgba(255, 255, 0, 0.455)) no-repeat;
    background-size: 150px 10px;
    background-position: center;
}

.fr
{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70vh;
    background-color: rgb(128, 9, 255);
}



.cherry
{
    background-image: url(../img/tsiwrat/desktop/image-graphic-design.jpg);
    width: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.cherry-text
{
    text-align: center;
    padding-inline: 24%;
    padding-top: 45%;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    line-height: 1.5rem;
}


.orange
{
    background-image: url(../img/tsiwrat/desktop/image-photography.jpg);
    width: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


