 * {
    padding: 0;
    margin: 0;
 }
.hero {
    background-image: url(../img/tsiwrat/desktop/image-header.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    
}
.display {
    display: flex;
    justify-content: space-between;
    padding-top: 5vh ;
    padding-left: 3vw;
    padding-right: 3vw;
}
.list {
    display: flex;
    gap: 2vw;
    align-items: center;
    font-weight: bold;
}
a {
    text-decoration: none;
}
.clr {
    color: white;
}
.but {
    padding: 1vh 2vw;
    border: none;
    border-radius: 20px;
}
.midd {
    position: relative;
    color: white;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: vh;
    /* text-align: center; */
}
.mid2 {
    position: absolute;
    top: 25vh;
    left: 50%;
    transform: translate(-50%, -50%);
}
.mid {
    position: absolute;
    top: 45vh;
    left: 50%;
    transform: translate(-50%, -50%);
}