:root
{
    --clr: #001B3A;
}

* {
     padding: 0;
     margin: 0;
 }

 .hero {
     background-image: url(../img/tsiwrat/desktop/image-header.jpg);
     height: 100vh;
     background-size: cover;
     background-position: center;
 }

.list
{
    display: flex;
    gap: 2vw;
    align-items: center;
    font-weight: bold;
    list-style: none;
}

.list:hover
{
   color: white;
   cursor: pointer;
}

 .display {
     display: flex;
     justify-content: space-between;
     padding-top: 5vh;
     padding-left: 3vw;
     padding-right: 3vw;
 }

 .list {
     display: flex;
     gap: 2vw;
     align-items: center;
     font-weight: bold;
 }

 a {
     text-decoration: none;
 }

 .clr {
     color: white;
 }

 .but {
     padding: 1vh 2vw;
     border: none;
     border-radius: 20px;
 }

 .midd {
     position: relative;
     color: white;
     font-size: 25px;
     display: flex;
     flex-direction: column;
    align-items: center;
     /* gap: 500vh; */
     /* text-align: center; */
 }

 .mid2 {
     position: absolute;
     top: 25vh;
     left: 50%;
     transform: translate(-50%, -50%);
 }

 .mid {
     position: absolute;
     top: 45vh;
     left: 50%;
     transform: translate(-50%, -50%);
 }

 .sec {
     display: flex;
 }

.right {
    width: 50%;
}

.left {
    width: 50%;
    display: flex;
    flex-direction: column;

}

.inside-left {
    text-align: start;
    line-height: 1.5rem;
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    color: var(--clr);
    font-size: 18px;
    padding-top: 30%;
    padding-left: 20%;
}

.inside-left>a {
    color: #001B3A;
    width: fit-content;
    background: linear-gradient(rgba(255, 255, 0, 0.449), rgba(255, 255, 0, 0.455)) no-repeat;
    background-size: 150px 10px;
    background-position: center;
}

.im {
    width: 100%;
    height: 100%;
}

.th {
    display: flex;
    /* flex-direction: column; */
    width: 100%;
}

.left2 {
    width: 50%;
    display: flex;
    flex-direction: column;
}

 .right2 {
    /* width: 50%; */
    display: flex;
    padding-right: 0;
    width: 50%;
} 

.inside-right2 {
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    width: 50%;
    /* width: 60%; */
    padding-top: 22vh;
    padding-left: 12vw;
    color: #001B3A;
    font-size: 18px;
    padding-right: 0;
}

 .inside-right2 > a {
    color: #001B3A;
    width: fit-content;
    background: linear-gradient(rgba(255, 255, 0, 0.449), rgba(255, 255, 0, 0.455)) no-repeat;
    background-size: 150px 10px;
    background-position: center;
 }
 .cc2 > a {
    color: #001B3A;
     background: linear-gradient(
    to bottom,
    rgba(255, 255, 0, 0) 0%,
    rgba(255, 255, 0, 0.542) 45%,
    /* black 2px, */
    rgba(252, 223, 0, 0.895) 55%
  );
  border-radius: 5px;
 }
  .cc > a {
    color: #001B3A;
     background: linear-gradient(
    to bottom,
    rgba(246, 128, 220, 0) 0%,
    rgba(255, 110, 105, 0.689)45%,
    /* black 2px, */
    rgba(255, 110, 105, 0.689) 55%
  );
  border-radius: 5px;
 }
 .fr
{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70vh;
    background-color: rgb(128, 9, 255);
}



.cherry
{
    background-image: url(../img/tsiwrat/desktop/image-graphic-design.jpg);
    width: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.cherry-text
{
    text-align: center;
    padding-inline: 24%;
    padding-top: 45%;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    line-height: 1.5rem;
}


.orange
{
    background-image: url(../img/tsiwrat/desktop/image-photography.jpg);
    width: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.fifth
{
    display: flex;
    flex-direction: column;
}

.cl
{
    text-align: center;
    padding-top: 10vh;
    padding-bottom: 10vh;
    font-size: 25px;
    font-weight: bold;
    opacity: 0.5;
}

.client
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.client > div
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3vh;
    text-align: center;
    padding-inline: 10%;
}

.client > div > img
{
    width: 5vw;
    height: 10vh;
    border-radius: 50%;
}

.six
{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 10vh;
}

.six > div
{
    width: 100%;
    height: 50vh;
}

.six > div > img
{
    width: 100%;
    height: 100%;
}

.footer {
    display: flex;
    flex-direction: column;
    padding-top: 10vh;
    padding-bottom: 10vh;
    background-color: hsl(167, 44%, 70%);
    align-items: center;
    gap: 5vh;

}

.footer ul {
    display: flex;
    flex-direction: row;
    gap: 3vh;
    list-style: none;
}

a 
{
    text-decoration: none;
    color: hsl(167, 31%, 44%);
}




 /*versio mobile*/

 @media (max-width: 480px) {
    .hero {
        background-image: url(../img/tsiwrat/mobile/image-header.jpg);
        height: 100vh;
    }

.sec, .th
{
    width: 100vw;
}   

.sec {
        display: flex;
        flex-direction: column-reverse;
}
.right {
    width: 100%;
    display: flex;
}
.left {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}
.inside-left {
    text-align: center;
    align-items: center;
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 4vh;
    font-size: 15px;
    padding-top: 6vh;
    padding-right: 0vw;
    padding-left: 0;
    padding-bottom: 6vh;
    /* background-color: aqua; */
}
.th {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-bottom: 5vh;
}
.left2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.im2 {
    height: 50vh;
    width: 100vw;
}

.inside-right2 {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 4vh;
    width: 75%;
    height: 40vh;
    padding-top: 3vh;
    padding-bottom: 6vh;
    padding-left: 6vw;
    padding-right: 0;
    font-size: 15px;
    line-height: 1.5rem;
}
.inside-right2 > a {
    text-align: center;

}
a {
    color: #001B3A;
}

.list {
        display: flex;
        flex-direction: column;
         /* gap: 2vw; */
        align-items: start;
        font-weight: bold;
    }
.fr
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.cherry, .orange
{
    width: 100%;
    height: 50vh;
}

.cherry
{
    background-image: url(../img/tsiwrat/desktop/image-graphic-design.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.cherry-text
{
    text-align: center;
    padding-inline: 24%;
    padding-top: 45%;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    line-height: 1.5rem;
}


.orange
{
    background-image: url(../img/tsiwrat/desktop/image-photography.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.client
{
    display: flex;
    flex-direction: column;
    gap: 5vh;
}
.client > div
{
    display: flex;
    justify-content: space-between;
    gap: 5vh;
}

.client > div >img
{
    width: 100%;
    height: 100%;
}

.six
{
    display: flex;
    flex-direction: column;
}




}
